
ListView{    
    background-color: white;
    width: 95%;
}

ListView Label{
    padding-top: 20;
    font-size: 20;
    text-align: center;
    font-weight: bold;
}

ScrollView{
    background: transparent;
}

.page{
    background: transparent;
}

.page StackLayout{
    background: transparent;
}

Button{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}


