
<StackLayout class="p-20" class="bg" height="100%">

  <ScrollView height="100%">    
    <StackLayout height="100%" class="page">
      <DockLayout stretchLastChild="true" height="80">
        <Label dock="top" text="Tech Wishlist"></Label>
      </DockLayout>
      <ListView [items]="gadgets"  class="list-group" height="86%">
          <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <ScrollView height="100%">
              <StackLayout height="100%">
                <Label [text]="item.name" (tap)="onTap(item)" class="list-group-item" height="75"></Label>              
              </StackLayout>
            </ScrollView>
          </ng-template>
      </ListView>
    </StackLayout>
  </ScrollView>
  
</StackLayout>
